.portfolio_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
  padding: 1rem 2rem;
  position: sticky;
  z-index: 3;
  top: 0;
  height: 4rem;
  background-color: Black;
}

.portfolio_navbar h2 {
  font-family: "Merriweather", serif;
  font-size: 30px;
}

.portfolio_desktop-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.portfolio_desktop-menu-item {
  padding: 10px;
  color: white;
}

.portfolio_desktop-menu-item:hover {
  color: yellow;
  cursor: pointer;
}

.portfolio_desktop-menu-item:focus {
  color: yellow;
}

.portfolio_desktop-menu-btn {
  color: rgb(255, 255, 0);
  font-size: 24px;
  font-weight: bold;
  font-family: "Merriweather", serif;
}
